<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <span class="waiting" >
    <%= make_request(user.id) %>
  </span>
    <%= accept_request(user.id) %>
    <%= cancel_request(user.id) %>
</li>